{% extends "base.html" %}

{% block content %}
    Question
    {% include "fire/_question.html" with question=question only %}

    <hr>
    <h4>Answers</h4>
    {% for answer in question.answers.all %}
        {{ answer.text|linebreaks }}
        <p>sentiment: {{ answer.sentiment_polarity }}
        <p id='answer-{{ answer.id }}-score'>votes: {{ answer.score }}</p>
        <p><a id='answer-{{ answer.id }}-upvote' href='{{ answer.get_upvote_url }}'>Upvote</a></p>
        <p><a id='answer-{{ answer.id }}-downvote' href='{{ answer.get_downvote_url }}'>Downvote</a></p>
    {% empty %}
        No answers yet.
    {% endfor %}

    <h5>Add an answer</h5>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create Answer">
    </form>

{% endblock %}
